* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header CSS */
.header {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

/* News Articles Wrapper */
.news-articles {
  width: 100%;
  padding: 30px 5%;
  background-color: #f2f2f2;
  display: flex;
  column-gap: 2%;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
}

/* Single News Card */
.news {
  flex: 1 1 250px;
  max-width: 300px;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  border-radius: 5px;
}

/* News Image */
.news-img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Source */
.source {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 14px;
}